<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="col-md-10">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" placeholder="Bawang Daun">
            <label for="name">Nama Bahan</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="amount" placeholder="2">
            <label for="amount">Jumlah Bahan</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="reset" class="btn btn-warning">Reset</button>
          <button type="button" class="btn btn-danger float-end">Delete</button>
          <button type="submit" class="btn btn-success float-end me-3">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
